.card{
  width: 300px;
  height: auto;
  margin: 50% auto;
  -webkit-box-shadow: 3px 2px 23px 0px rgba(133,129,133,1);
  -moz-box-shadow: 3px 2px 23px 0px rgba(133,129,133,1);
  box-shadow: 3px 2px 23px 0px rgba(133,129,133,1);

  a{
    background-color: #92374D!important;
    border: none !important;
    box-shadow: none !important;
    margin-left: 30%;
  }
}
